NODE_ENV=development
USER_SERVICE_URL=http://user-service:5000
EXAM_SERVICE_URL=http://exam-service:3001
QUESTION_SERVICE_URL=http://question-service:3002
AI_SERVICE_URL=http://ai-generation-service:3003
NOTIFICATION_SERVICE_URL=http://notification-service:3004
INFRA_SERVICE_URL=http://infrastructure-service:5005
